.test2 {
  background-color:blue;
  height: 200px;
  width: 200px;
}

.test1{
  background-color: red;
  height: 400px;
  width: 400px;
}

.test3{
  background-color: green;
  height: 100px;
  width: 100px;
}